@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oxygen:wght@300;400&display=swap');
:root{
  --primary-color:#8B5CF6;
  --off-white:#E5E7EB;
  --dark-grey:#6B7280;
}
body{
  font-family: 'Oxygen', sans-serif;
  margin: 0px;
}
/**hr{
  padding: 2rem 1rem;
}**/
/**nav**/
.container{
  background-color: var(--primary-color);
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}
.navigation-div{
  color: white;
  font-weight: bold;
}
.navigation-ul{
  list-style: none;
}
.navigation-ul .list-item-inline{
  display:inline;
  padding: 0rem 1rem;
}
.link{
  text-decoration: none;
  color: white;
}
.navigation-ul .link-active{
  font-weight: bold;
}
/**image**/

.image{
  max-width: 400px;
  display: block;
  margin: auto;
  padding: 1rem;
}
.name{
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  color: var(--dark-grey);
}
.span{
  color: var(--primary-color);
}

/**header**/
.section{
  padding: 2rem;
}
.header-center{
  margin: auto;
  max-width: 600px;
  padding-bottom: 3rem;
}

.section h1{
  text-align: center;
}
.ow{
  background-color: var(--off-white);
}
.primary-link{
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  color:white;
  border-radius: 0.5rem;
}
.secondary-link{
  color:var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
}

/**footer**/
.footer{
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  color: white;
  text-align: center;
  border-top-right-radius: 1rem;
}
.footer .footer-header{
  font-weight: bold;
  font-size: large;
}
